h1 {
    margin-top: 1.95em !important;
    font-size: 34px !important;
    line-height: 1.12 !important;
    font-weight: 600 !important;
    letter-spacing: -0.022em !important;
    color: rgba(0, 0, 0, 0.84) !important;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
}